<!-- Footer Start -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-widget">
                    <h3>About Us</h3>
                    <p>We are committed to providing quality products and exciting prizes through our lucky draw system.</p>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/prize">Prize</a></li>
                        <li><a href="/winner-list">Winners</a></li>
                        <li><a href="/how-to-win">How to Win</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="/status">Check Status</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/terms">Terms & Conditions</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/refund">Refund Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <h3>Contact Info</h3>
                    <ul class="contact-info">
                        <li><i class="fa fa-phone"></i> +919163571821</li>
                        <li><i class="fa fa-whatsapp"></i> +919163571821</li>
                        <li><i class="fa fa-envelope"></i> support@luckydraw.com</li>
                        <li><i class="fa fa-map-marker"></i> India</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <%= new Date().getFullYear() %> Lucky Draw. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Designed with <i class="fa fa-heart" style="color: red;"></i> for our customers</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- Floating WhatsApp -->
<div class="floating-wpp">
    <div class="floating-wpp-button">
        <div class="floating-wpp-button-image">
            <i class="fa fa-whatsapp"></i>
        </div>
        <span class="floating-wpp-button-text">Chat with us</span>
    </div>
    <div class="floating-wpp-popup">
        <div class="floating-wpp-popup-header">
            <strong>Customer Support</strong>
            <div class="floating-wpp-popup-close">&times;</div>
        </div>
        <div class="floating-wpp-popup-content">
            <p>Hi! How can we help you?</p>
            <a href="https://wa.me/919163571821" target="_blank" class="floating-wpp-popup-button">
                Start Chat
            </a>
        </div>
    </div>
</div>
