



<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from herballuckydraw.com/Terms.php by  Website Copier/3.x [XR&CO'2014], Fri, 01 Aug 2025 09:08:12 GMT -->
<!-- Added by  --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by  -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head><meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><title>
	Online Shopping  
</title><meta name="viewport" content="width=device-width, initial-scale=1.0" /><link rel="icon" href="images/herbal-fav.png" type="image/x-icon" /><link href="css/style1.css" rel="stylesheet" /><link href="css/custom.css" rel="stylesheet" /><link href="css/responsive1.css" rel="stylesheet" /><link href="plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" /><link href="plugins/floating-wpp/floating-wpp.css" rel="stylesheet" />
</head>
<body>
 
         <!-- main header area -->
        <header class="main-header">
            <!--header upper start-->
            <div class="header-upper">
                <div class="container">
                    <ul class="top-left">
                        <li>  <i class="fa fa-phone"></i>SUPPORT NUMBER:<a id="SupportLinkButton1" href="tel:+919341098599 ">+919163571821 </a></li>
                        <li>  <i class="fa fa-whatsapp"></i> What’s App Number: <a>+919163571821</a></li>
                    </ul>
                    <div class="top-right">
                     </div>
                </div>
            </div>
            <!--header upper end-->

            <!-- header lower start-->
            <div class="header-lower">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="logo-data-1">
                                <a href="/">
                                    <img style="width:90px; " src="images/herbal-logo.png" /></a>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="menu-bar">
                                <nav class="main-menu">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="navbar-collapse collapse clearfix">
                                        <ul class="navigation clearfix">
                                            <li><a href="/Products" >Products</a></li>
                                            <li><a href="/Prize" >Prize</a></li>
                                            <li><a href="/How-to-Win" >How to Win</a></li>
                                            <li><a href="/Winner-List" >Winner List</a></li>
                                            <li><a href="/Status" >Check Status</a></li>
                                            <li><a href="/Terms" >Terms & Conditions</a></li>
                                            <li><a href="/Contact" >Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end main header area -->

   
      <!-- page title start -->
    <div class="about-bg centered">
        <div class="container">
            <div class="text">Terms & Conditions</div>
        </div>
    </div>
    <!--page title end -->
    
	<!-- feature-section -->
    <section class="terms-condition-page-1">
        <div class="container">
            <div class="feature-title centered">
                <div class="section-title">
                    <h2>Our Terms & Conditions</h2></div>
                <div class="title-text">
                   
                </div>
            </div>
			<div class="terms-condition-page-2">
				<div class="row">
					<div class="col-md-7">
						<div class="terms-condition-page-3">
							<h2>इनाम लेने के लिए सारी नियम एवं शर्तें मान्य होगी</h2>
							<ul>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>ईनाम का पुरा नगद सीधे आपके बैंक खाते मे जायेगा। * सारे सरकारी कर और प्रक्रिया शुल्क ग्राहक (विजेता) को ही देना पड़ेगा। * सारे शुल्क विजेता से अग्रिम में एकत्रित किया जाएगा और किसी भी हालत में ऐ ईनाम की राशि के साथ एडजस्ट नहीं किया जाएगा। * परिणाम का निर्णय अंतिम एवं गैर विवादित होगा </li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>इनामी राशि में कोई भी कटौती नहीं की जाएगी </li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>इनाम के लिए जो भी फीस या टैक्स लगेगा वो वापस नहीं होगा </li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>इनाम आपकी इच्छा अनुसार नहीं बदल सकते </li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>इस प्रतियोगिता में कंपनी का कोई भी सदस्य भाग नहीं ले सकते हैं , ना ही मदद कर सकते हैं </li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>इनाम में अगर कोई फीस या टैक्स लगता है तो वो विजेता को ही देना पड़ेगा </li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>अगर किसी कारण वश विजेता इनाम इनाम को रद्द करवाते हैं तो विजेता का जमा राशि २१ दिन के अंदर दिया जायेगा </li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>अगर पैसा जमा करवाने के बाद इनाम नहीं मिलता है तो उसका जिम्मेदार कंपनी होगा </li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>कोई भी वाद विवाद न्यायालय में किया जायेगा </li>
							</ul>
							<h3>Rule of payment:</h3>
							<ul>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>The full cash deposit will go directly to your bank account.</li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>All government taxes and procedures will be paid to the customer (winner).</li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>All fees will be collected from the winner in advance and will not be adjusted with the amount of prize in any condition.</li>
							</ul>
						</div>
					</div>
					<div class="col-md-5">
						<div class="terms-condition-page-3">
							<img src="images/stamp.jpg" class="img-responsive"/>
						</div>
					</div>
				</div>
			</div>
        
		</div>
    </section>
    <!-- feature section end -->



    </div>

        
		<footer class="main-footer footer-data-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-data-1">
                            <a href="https://wa.me/+919163571821"> <p>Head office : <i class='fa fa-whatsapp' aria-hidden='true'></i>+919163571821</p>
                            </a>
							
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- main footer area end -->
        <!-- footer bottom -->
        <section class="footer-bottom centered">
            <div class="container">
                <div class="copyright">
                     <p>Herbal Ayurveda Pvt. Ltd.</p>
                </div>
            </div>
        </section>
        <div id="myButton"></div>
        <input name="ctl00$HFSupportNumber" value="+919163571821" id="HFSupportNumber" type="hidden" />
  

    <!--jquery js -->

    <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slider-active.js" type="text/javascript"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/validation.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bxslider.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jQuery.style.switcher.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>

    <script src="revolution/js/jquery.themepunch.tools.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript">
    </script>
    <!-- slider revolution 5.0 extensions  (load extensions only on local file systems !  the following part can be removed on server for on demand loading) -->
    <script src="revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript">
    </script>

    <script src="js/script.js"></script>
    <script src="plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="plugins/floating-wpp/floating-wpp.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myButton').floatingWhatsApp({
                phone: document.getElementById('HFSupportNumber').value,
                popupMessage: 'Hello, How I help you?',
                message: "",
                showPopup: true,
                showOnIE: false,
                position: 'right',
                headerTitle: 'Welcome to our Website ',
                headerColor: 'green',
                backgroundColor: 'green',
                size: '60px'
            });
        });
    </script>

	
	
</body>

<!-- Mirrored from herballuckydraw.com/Terms.php by  Website Copier/3.x [XR&CO'2014], Fri, 01 Aug 2025 09:08:12 GMT -->
</html>		