



<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from herballuckydraw.com/Winner-List.php by  Website Copier/3.x [XR&CO'2014], Fri, 01 Aug 2025 09:08:12 GMT -->
<!-- Added by  --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by  -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head><meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><title>
	Online Shopping  
</title><meta name="viewport" content="width=device-width, initial-scale=1.0" /><link rel="icon" href="images/herbal-fav.png" type="image/x-icon" /><link href="css/style1.css" rel="stylesheet" /><link href="css/custom.css" rel="stylesheet" /><link href="css/responsive1.css" rel="stylesheet" /><link href="plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" /><link href="plugins/floating-wpp/floating-wpp.css" rel="stylesheet" />
</head>
<body>
 
         <!-- main header area -->
        <header class="main-header">
            <!--header upper start-->
            <div class="header-upper">
                <div class="container">
                    <ul class="top-left">
                        <li>  <i class="fa fa-phone"></i>SUPPORT NUMBER:<a id="SupportLinkButton1" href="tel:+919341098599 ">+919163571821 </a></li>
                        <li>  <i class="fa fa-whatsapp"></i> What’s App Number: <a>+919163571821</a></li>
                    </ul>
                    <div class="top-right">
                     </div>
                </div>
            </div>
            <!--header upper end-->

            <!-- header lower start-->
            <div class="header-lower">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="logo-data-1">
                                <a href="index-2.html">
                                    <img style="width:90px; " src="images/herbal-logo.png" /></a>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="menu-bar">
                                <nav class="main-menu">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="navbar-collapse collapse clearfix">
                                        <ul class="navigation clearfix">
                                            <li><a href="/Products">Products</a></li>
                                            <li><a href="/Prize">Prize</a></li>
                                            <li><a href="/How-to-Win">How to Win</a></li>
                                            <li><a href="/Winner-List" class="<%= currentPage === 'winners' ? 'active' : '' %>">Winner List</a></li>
                                            <li><a href="/Status">Check Status</a></li>
                                            <li><a href="/Terms">Terms & Conditions</a></li>
                                            <li><a href="/Contact">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end main header area -->

   
      <!-- page title start -->
    <div class="about-bg centered">
        <div class="container">
            <div class="text">Our latest Winners</div>
        </div>
    </div>
    <!--page title end -->
 <style>
 .img-responsive{
	 background:#fff;
 }
 </style>
	<!-- sponsors section -->
    <!-- <section class="sponsors-section">
        <div class="container">
			<div class="testimonial-title centered">
				<div class="section-title">
					<h2>Our latest Winners</h2></div>
				<div class="title-text"></div>
			</div>
            <div class="sponsors-area0">
                <div class="row">
				<div class='col-md-3'><div class='winner-data-1'>
<img class='img-responsive' src=admin_panel/winner/1.jpg /><h4>Manoj Kumar</h4><p> Mobile:- <a href= 'tel:98XXXXXX12'>98XXXXXX12</a></p></div></div><div class='col-md-3'><div class='winner-data-1'>
<img class='img-responsive' src=admin_panel/winner/2.jpg /><h4>Radha Bisnoi</h4><p> Mobile:- <a href= 'tel:62XXXXXX77'>62XXXXXX77</a></p></div></div><div class='col-md-3'><div class='winner-data-1'>
<img class='img-responsive' src=admin_panel/winner/3.jpg /><h4>Raghvendra Singh</h4><p> Mobile:- <a href= 'tel:87XXXXXX24'>87XXXXXX24</a></p></div></div><div class='col-md-3'><div class='winner-data-1'>
<img class='img-responsive' src=admin_panel/winner/4.jpg /><h4>Kalyan Gurjar</h4><p> Mobile:- <a href= 'tel:88XXXXXX66'>88XXXXXX66</a></p></div></div><div class='col-md-3'><div class='winner-data-1'>
<img class='img-responsive' src=admin_panel/winner/5.jpg /><h4>Vijay Kamathi</h4><p> Mobile:- <a href= 'tel:95XXXXXX42'>95XXXXXX42</a></p></div></div><div class='col-md-3'><div class='winner-data-1'>
<img class='img-responsive' src=admin_panel/winner/6.jpg /><h4>Pratap Meena</h4><p> Mobile:- <a href= 'tel:98XXXXXX58'>98XXXXXX58</a></p></div></div><div class='col-md-3'><div class='winner-data-1'>
<img class='img-responsive' src=admin_panel/winner/7.jpg /><h4>Kanti Bhai Suraj Bhai bagera</h4><p> Mobile:- <a href= 'tel:62XXXXXX18'>62XXXXXX18</a></p></div></div><div class='col-md-3'><div class='winner-data-1'>
<img class='img-responsive' src=admin_panel/winner/8.jpg /><h4>Haider Khan</h4><p> Mobile:- <a href= 'tel:72XXXXXX21'>72XXXXXX21</a></p></div></div>											
						
						
				
                    
					
                   
				</div>
            </div>
        </div>
    </section> -->
    <!-- sponsors section end -->



    </div>

         		<footer class="main-footer footer-data-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-data-1">
                            <a href="https://wa.me/+919163571821"> <p>Head office : <i class='fa fa-whatsapp' aria-hidden='true'></i>+919163571821</p>
                            </a>
							
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- main footer area end -->
        <!-- footer bottom -->
        <section class="footer-bottom centered">
            <div class="container">
                <div class="copyright">
                     <p>Herbal Ayurveda Pvt. Ltd.</p>
                </div>
            </div>
        </section>
        <div id="myButton"></div>
        <input name="ctl00$HFSupportNumber" value="+919163571821" id="HFSupportNumber" type="hidden" />
  

    <!--jquery js -->

    <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slider-active.js" type="text/javascript"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/validation.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bxslider.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jQuery.style.switcher.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>

    <script src="revolution/js/jquery.themepunch.tools.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript">
    </script>
    <!-- slider revolution 5.0 extensions  (load extensions only on local file systems !  the following part can be removed on server for on demand loading) -->
    <script src="revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript">
    </script>
    <script src="revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript">
    </script>

    <script src="js/script.js"></script>
    <script src="plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="plugins/floating-wpp/floating-wpp.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myButton').floatingWhatsApp({
                phone: document.getElementById('HFSupportNumber').value,
                popupMessage: 'Hello, How I help you?',
                message: "",
                showPopup: true,
                showOnIE: false,
                position: 'right',
                headerTitle: 'Welcome to our Website ',
                headerColor: 'green',
                backgroundColor: 'green',
                size: '60px'
            });
        });
    </script>

	
	
</body>

<!-- Mirrored from herballuckydraw.com/Winner-List.php by  Website Copier/3.x [XR&CO'2014], Fri, 01 Aug 2025 09:08:12 GMT -->
</html>